@import './base.css';
body {
  background-color: rgb(255, 255, 255);
}

element {
  --main-color: #ff9d00;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  padding: 0;
}
li {
  padding: 5px 0;
  list-style: none;
}

input,
textarea {
  font-family: 'Poppins', sans-serif;
  outline: none;
  font-size: 14px;
}

textarea {
  resize: none;
}

button:hover {
  cursor: pointer;
}
